:root {
  --primary-text-color: #fff;
  --second-name-text-color: rgb(6, 61, 62);
  --color-like-black: rgb(6, 26, 6);
  --left-side-background: rgb(143, 172, 213);
  --right-side-background: #fff;
  --name-container-background: rgb(89, 220, 235);
  --h2-color: rgb(20, 83, 38);
}

@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

html,
body {
  min-width: 1150px;
  height: 100%;
  box-sizing: border-box;
  font-family: "Roboto";
  box-sizing: inherit;
  background-color: lightgray;
}
main {
  flex: 1 1 auto;
}
li {
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 1150px;
  padding: 0 15px;
  min-height: 100%;
  margin-right: auto;
  margin-left: auto;
}

.container-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 100%;
  background-color: var(--left-side-background);
  color: var(--primary-text-color);
}

.container-right {
  display: flex;
  flex-direction: column;
  width: 700px;
  background-color: var(--right-side-background);
}

.name-container {
  position: absolute;
  transform: translate(0, 0);
  transition: all 2s ease-in-out;
  width: 700px;
  height: 150px;
  margin-top: 50px;
  margin-left: -50px;
  background-color: var(--name-container-background);
  color: var(--primary-text-color);
}

.name {
  margin: 20px 100px 10px;
  font-size: 50px;
}

.profession {
  font-size: 35px;
  color: var(--second-name-text-color);
  margin-left: 100px;
}

.photo {
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 30px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 1065px;
}
.contact__adresses {
  list-style: none;
  padding: 20px;
  font-size: 20px;
  line-height: 2;
  margin-bottom: 20px;
}
.contact__line {
  display: block;
  border: 1px;
  background-color: var(--primary-text-color);
  width: 300px;
  height: 1px;
}

.link-to {
  display: inline-flex;
  color: var(--primary-text-color);
  align-self: flex-start;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  transition-duration: 0.5s;
}
.link-to:hover,
.link-to:focus {
  color: rgb(49, 219, 30);
}
.phone {
  transition-duration: 0.5s;
}
.phone::before {
  content: "";
  display: inline-flex;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-telephone-fill' viewBox='0 0 16 16'%3e%3cpath fill-rule='evenodd' d='M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z'/%3e%3c/svg%3e");
  transition-duration: 0.5s;
}
.phone:hover::before {
  content: "";
  display: inline-flex;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='rgb(49, 219, 30)' class='bi bi-telephone-fill' viewBox='0 0 16 16'%3e%3cpath fill-rule='evenodd' d='M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z'/%3e%3c/svg%3e");
  repeat: norepeat;
}
.linkedin::before {
  content: "";
  display: inline-flex;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23 23'%3e%3cpath fill='white' d='M20 20h-4v-6.999c0-1.92-.847-2.991-2.366-2.991-1.653 0-2.634 1.116-2.634 2.991V20H7V7h4v1.462s1.255-2.202 4.083-2.202C17.912 6.26 20 7.986 20 11.558V20zM2.442 4.921A2.451 2.451 0 0 1 0 2.46 2.451 2.451 0 0 1 2.442 0a2.451 2.451 0 0 1 2.441 2.46 2.45 2.45 0 0 1-2.441 2.461zM0 20h5V7H0v13z'/%3e%3c/svg%3e");
  transition-duration: 0.5s;
  repeat: norepeat;
}
.linkedin:hover::before {
  content: "";
  display: inline-flex;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill='rgb(49, 219, 30)' d='M20 20h-4v-6.999c0-1.92-.847-2.991-2.366-2.991-1.653 0-2.634 1.116-2.634 2.991V20H7V7h4v1.462s1.255-2.202 4.083-2.202C17.912 6.26 20 7.986 20 11.558V20zM2.442 4.921A2.451 2.451 0 0 1 0 2.46 2.451 2.451 0 0 1 2.442 0a2.451 2.451 0 0 1 2.441 2.46 2.45 2.45 0 0 1-2.441 2.461zM0 20h5V7H0v13z'/%3e%3c/svg%3e");
  transition-duration: 0.5s;
  repeat: norepeat;
}
.mail::before {
  content: "";
  display: inline-flex;
  margin-right: 10px;
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill='white' d='M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z' /%3e%3c/svg%3e");
  transition-duration: 0.5s;
}
.mail:hover::before {
  content: "";
  display: inline-flex;
  margin-right: 10px;
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill='rgb(49, 219, 30)' d='M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z' /%3e%3c/svg%3e");
}
.git::before {
  content: "";
  display: inline-flex;
  margin-right: 10px;
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill='white' d='M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z' /%3e%3c/svg%3e");
  transition-duration: 0.5s;
}
.git:hover::before {
  content: "";
  display: inline-flex;
  margin-right: 10px;
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill='rgb(49, 219, 30)' d='M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z' /%3e%3c/svg%3e");
}

.contact-info,
.languages-info,
.about-me {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  transition: all 2s ease 0s;
  transition-timing-function: ease-out;
}
.contact-info__icon,
.languages-info__icon,
.about-me__icon {
  display: flex;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-right: 30px;
  fill: var(--primary-text-color);
}
.contact-info:hover,
.languages-info:hover,
.about-me:hover {
  content: "";
  transform: translate(10px, 10px);
  color: blue;
}

.contact-info__title,
.languages-info__title,
.about-me__title {
  font-size: 30px;
}

.lang {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 40px;
}
.lang__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.lang-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1);
  transform: scale(1);
}
.lang-icon:hover {
  transform: scale(1.5);
}
/* .bubble {
  position: relative;
  width: 200px;
  height: 70px;
  background: transparent;
  border-radius: 3px;
}
.bub-title {
  position: absolute;
  top: -200px;
  background-color: blue;
  color: #fff;
  padding: 5px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  transition: 0.5s;
  opacity: 0;
  transform: scale(0.1);
  transform-origin: bottom;
}
.bub-title::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 50%;
  margin-left: -8px;
  top: 100%;
  background: blue;
  transform: translate3d(0, -60%, 0) rotate3d(0, 0, 1, 45deg);
}
.bubble:hover .bub-title {
  opacity: 1;
  transform: scale(1);
} */
.text {
  padding: 5px;
  font-size: 18px;
  line-height: 1.4;
}
.text-span {
  color: blue;
  padding: 5px;
  font-size: 18px;
  line-height: 1.4;
}

.technologies,
.projects {
  display: flex;
  flex-direction: column;
  color: var(--second-name-text-color);
  padding: 30px 70px 0;
  align-items: center;
}
.technologies__title,
.projects__title {
  color: rgb(7, 153, 95);
  align-self: flex-start;
  margin-bottom: 10px;
}
.technologies__link,
.projects__link {
  color: var(--h2-color);
  align-self: flex-start;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  transition-duration: 0.5s;
}
.technologies__link:hover,
.technologies__link:focus,
.projects__link:hover,
.projects__link:focus {
  color: rgb(49, 219, 30);
}

.up {
  margin-top: 180px;
}

.technologies-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.technologies-item__line {
  display: block;
  border: 1px;
  background-color: #000;
  width: 300px;
  height: 1px;
  margin: 0 auto 10px;
}
.technologies-item__title {
  display: flex;
  color: var(--h2-color);
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 10px;
}
.technologies-item__description {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.technologies-item__link {
  align-items: center;
}

.technologies-item-icons__icon {
  width: 44px;
  margin-right: 30px;
  transition: all 1s cubic-bezier(0, -0.3, 0.1, 1) 0s;

  transform: rotate(0deg);
}
.technologies-item-icons__icon:hover {
  transform: rotate(360deg);
}
.technologies-item-icons__icon-react {
  position: relative;
  width: 44px;
  animation-name: react;
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes react {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1360deg);
  }
}
.empty-row {
  margin-bottom: 20px;
}
.tech {
  color: rgb(228, 70, 81);
}
