:root{
  --primary-text-color: #fff;
  --second-name-text-color: rgb(6, 61, 62);
  --color-like-black: rgb(6, 26, 6);
  --left-side-background:rgb(6, 89, 21);
  --right-side-background: #fff;
  --name-container-background: rgb(22, 125, 73);
  --h2-color:rgb(20, 83, 38);
}
html{
  height: 100vh;
  box-sizing: border-box;

}

body {
  font-family: "Times New Roman", Times, serif;
  box-sizing: inherit;
  background-color: lightgray;
  
  
}
li{
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
}
.container-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  background-color: var(--left-side-background);
  color: var(--primary-text-color);
}
.container-right {
  display: flex;
  flex-direction: column;
  width: 700px;
  background-color: var(--right-side-background);
}
.name-container {
  position: absolute;
  transform: translate(0,0);
  transition: all 2s ease-in-out;
  width: 700px;
  height: 150px;
  margin-top: 50px;
  margin-left: -50px;
  background-color: var(--name-container-background);
  color: var(--primary-text-color);
  
}
.name {
  margin: 20px 100px 10px;
  font-size: 50px;
}
.profession {
  font-size: 35px;
  color: var(--second-name-text-color);
  margin-left: 100px;
}
.photo {
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 30px;
}
.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding-left: 50px;
  width: 90%;
  &__adresses{
    list-style: none;
    padding: 20px;
    font-size: 20px;
    line-height: 2;
    margin-bottom: 20px;
  }
  &__line{
    display: block;
    border: 1px;
    background-color: var(--primary-text-color);
    width: 300px;
    height: 1px;
  }
} 
  .link-to {
      display: inline-flex;
      color: var(--primary-text-color);
      align-self: flex-start;
      text-decoration: none;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
      &::before{
        content: '';
        display: inline-flex;
        width: 40px;
        height: 40px;
        background-image: url('../assets/phone-classic.svg');
    }
      &:hover, &:focus{
        color: rgb(49, 219, 30);
      }
     
		}



.contact-info, .languages-info, .about-me{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  &__icon {
    display: flex;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-right: 30px;
    fill: var(--primary-text-color);
  }
  &__title{
    font-size: 30px;
  }
 }
 .lang{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 50px;  
      &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
      }
 }
.lang-icon-uk{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.text{
  padding: 20px;
  font-size: 18px;
  line-height: 1.4;
}
// Right side
.technologies, .projects {
  display: flex;
  flex-direction: column;
  color: var(--second-name-text-color);
  padding: 30px 70px 0 ;
  align-items: center;
		&__title {
      color: rgb(7, 153, 95);
  align-self: flex-start;
  margin-bottom: 10px;    
		}

		&__link {
      color: var(--h2-color);
      align-self: flex-start;
      text-decoration: none;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
      &:hover, &:focus{
        color: rgb(49, 219, 30);
      }
		}
}
.up{
  margin-top: 180px;
}
.technologies-item  {
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 20px;
		&__title {
      display: flex;
      color: var(--h2-color);
      font-size: 30px;
      font-weight: 800;
      margin-bottom: 10px;
		}

		&__description {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
		}
    &__link{
      align-items: center;
      
    }
}
.technologies-item-icons {
    &__icon{
      width: 70px;
      margin-right: 30px;
    }

}
