:root {
  --primary-text-color: #fff;
  --second-name-text-color: rgb(6, 61, 62);
  --color-like-black: rgb(6, 26, 6);
  --left-side-background: rgb(6, 89, 21);
  --right-side-background: #fff;
  --name-container-background: rgb(22, 125, 73);
  --h2-color: rgb(20, 83, 38);
}

html {
  height: 100vh;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  box-sizing: inherit;
  background-color: lightgray;
}

li {
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.container-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  background-color: var(--left-side-background);
  color: var(--primary-text-color);
}

.container-right {
  display: flex;
  flex-direction: column;
  width: 700px;
  background-color: var(--right-side-background);
}

.name-container {
  position: absolute;
  transform: translate(0, 0);
  transition: all 2s ease-in-out;
  width: 700px;
  height: 150px;
  margin-top: 50px;
  margin-left: -50px;
  background-color: var(--name-container-background);
  color: var(--primary-text-color);
}

.name {
  margin: 20px 100px 10px;
  font-size: 50px;
}

.profession {
  font-size: 35px;
  color: var(--second-name-text-color);
  margin-left: 100px;
}

.photo {
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 30px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
.contact__adresses {
  list-style: none;
  padding: 20px;
  font-size: 20px;
  line-height: 2;
  margin-bottom: 20px;
}
.contact__line {
  display: block;
  border: 1px;
  background-color: var(--primary-text-color);
  width: 300px;
  height: 1px;
}

.link-to {
  display: inline-flex;
  color: var(--primary-text-color);
  align-self: flex-start;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.link-to:hover,
.link-to:focus {
  color: rgb(49, 219, 30);
}
.phone::before {
  content: "";
  display: inline-flex;
  margin-right: 10px;
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill='white' d='M12,3C7.46,3 3.34,4.78 0.29,7.67C0.11,7.85 0,8.1 0,8.38C0,8.66 0.11,8.91 0.29,9.09L2.77,11.57C2.95,11.75 3.2,11.86 3.5,11.86C3.75,11.86 4,11.75 4.18,11.58C4.97,10.84 5.87,10.22 6.84,9.73C7.17,9.57 7.4,9.23 7.4,8.83V5.73C8.85,5.25 10.39,5 12,5C13.59,5 15.14,5.25 16.59,5.72V8.82C16.59,9.21 16.82,9.56 17.15,9.72C18.13,10.21 19,10.84 19.82,11.57C20,11.75 20.25,11.85 20.5,11.85C20.8,11.85 21.05,11.74 21.23,11.56L23.71,9.08C23.89,8.9 24,8.65 24,8.37C24,8.09 23.88,7.85 23.7,7.67C20.65,4.78 16.53,3 12,3M9,7V10C9,10 3,15 3,18V22H21V18C21,15 15,10 15,10V7H13V9H11V7H9M12,12A4,4 0 0,1 16,16A4,4 0 0,1 12,20A4,4 0 0,1 8,16A4,4 0 0,1 12,12M12,13.5A2.5,2.5 0 0,0 9.5,16A2.5,2.5 0 0,0 12,18.5A2.5,2.5 0 0,0 14.5,16A2.5,2.5 0 0,0 12,13.5Z' /%3e%3c/svg%3e ");
}
.phone:hover::before {
  content: "";
  display: inline-flex;
  margin-right: 10px;
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill='rgb(49, 219, 30)' d='M12,3C7.46,3 3.34,4.78 0.29,7.67C0.11,7.85 0,8.1 0,8.38C0,8.66 0.11,8.91 0.29,9.09L2.77,11.57C2.95,11.75 3.2,11.86 3.5,11.86C3.75,11.86 4,11.75 4.18,11.58C4.97,10.84 5.87,10.22 6.84,9.73C7.17,9.57 7.4,9.23 7.4,8.83V5.73C8.85,5.25 10.39,5 12,5C13.59,5 15.14,5.25 16.59,5.72V8.82C16.59,9.21 16.82,9.56 17.15,9.72C18.13,10.21 19,10.84 19.82,11.57C20,11.75 20.25,11.85 20.5,11.85C20.8,11.85 21.05,11.74 21.23,11.56L23.71,9.08C23.89,8.9 24,8.65 24,8.37C24,8.09 23.88,7.85 23.7,7.67C20.65,4.78 16.53,3 12,3M9,7V10C9,10 3,15 3,18V22H21V18C21,15 15,10 15,10V7H13V9H11V7H9M12,12A4,4 0 0,1 16,16A4,4 0 0,1 12,20A4,4 0 0,1 8,16A4,4 0 0,1 12,12M12,13.5A2.5,2.5 0 0,0 9.5,16A2.5,2.5 0 0,0 12,18.5A2.5,2.5 0 0,0 14.5,16A2.5,2.5 0 0,0 12,13.5Z' /%3e%3c/svg%3e ");
}
.mail::before {
  content: "";
  display: inline-flex;
  margin-right: 10px;
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill='white' d='M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z' /%3e%3c/svg%3e");
}
.mail:hover::before {
  content: "";
  display: inline-flex;
  margin-right: 10px;
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill='rgb(49, 219, 30)' d='M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z' /%3e%3c/svg%3e");
}
.git::before {
  content: "";
  display: inline-flex;
  margin-right: 10px;
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill='white' d='M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z' /%3e%3c/svg%3e");
}
.git:hover::before {
  content: "";
  display: inline-flex;
  margin-right: 10px;
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill='rgb(49, 219, 30)' d='M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z' /%3e%3c/svg%3e");
}

.contact-info,
.languages-info,
.about-me {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.contact-info__icon,
.languages-info__icon,
.about-me__icon {
  display: flex;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-right: 30px;
  fill: var(--primary-text-color);
}
.contact-info__title,
.languages-info__title,
.about-me__title {
  font-size: 30px;
}

.lang {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 50px;
}
.lang__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.lang-icon-uk {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.text {
  padding: 20px;
  font-size: 18px;
  line-height: 1.4;
}

.technologies,
.projects {
  display: flex;
  flex-direction: column;
  color: var(--second-name-text-color);
  padding: 30px 70px 0;
  align-items: center;
}
.technologies__title,
.projects__title {
  color: rgb(7, 153, 95);
  align-self: flex-start;
  margin-bottom: 10px;
}
.technologies__link,
.projects__link {
  color: var(--h2-color);
  align-self: flex-start;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.technologies__link:hover,
.technologies__link:focus,
.projects__link:hover,
.projects__link:focus {
  color: rgb(49, 219, 30);
}

.up {
  margin-top: 180px;
}

.technologies-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.technologies-item__title {
  display: flex;
  color: var(--h2-color);
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 10px;
}
.technologies-item__description {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.technologies-item__link {
  align-items: center;
}

.technologies-item-icons__icon {
  width: 70px;
  margin-right: 30px;
} /*# sourceMappingURL=main.css.map */
